<div class="whisper-speech-to-text-component">
  <h1>Whisper</h1>
  <div class="whisper-speech-to-text-component-buttons">
    <button class="btn btn-primary" (click)="onStartRecognitionClick($event)" *ngIf="!isRecording">
      Démarrer
      <i class="fas fa-microphone"></i>
    </button>
    <button class="btn btn-secondary" (click)="onStopRecognitionClick($event)" *ngIf="isRecording">
      Arrêter<i class="fas fa-microphone-slash"></i>
    </button>
  </div>

  <div class="whisper-speech-to-text-component-upload">
    <input type="file" (change)="onUploadFile($event)" />
  </div>

  <div *ngIf="isLoading" class="whisper-speech-to-text-component-loading">
    <p>En cours de traitement...</p>
  </div>

  <p class="whisper-speech-to-text-component-content">
    {{ transcript }}
  </p>
</div>
