.tts-component {
  &-checkbox {
    margin-right: 15px;
    display: inline-flex;
    align-items: baseline;
    label {
      margin-left: 5px;
    }
  }

  &-select {
    select {
      margin-left: 5px;
    }
  }

  &-picture {
    text-align: center;
    img {
      width: 30%;
    }
  }
}
