<div class="speech-to-text-component">
  <h1>Speech-To-Text</h1>
  <div class="row m-5">
    <div class="col">
      <h2>Paramètres</h2>
      <form role="form">
        <fieldset>
          <legend class="title-gp">Activer le Speech-To-Text de :</legend>
          <div class="speech-to-text-component-checkbox">
            <input autocomplete="off" type="checkbox" name="speech-to-text" [(ngModel)]="isMozillaEnabled" id="chkMozilla" />
            <label for="chkMozilla">Mozilla</label>
          </div>
          <div class="speech-to-text-component-checkbox">
            <input autocomplete="off" type="checkbox" name="speech-to-text" [(ngModel)]="isGoogleEnabled" id="chkGoogle" /><label
              for="chkGoogle"
              >Google</label
            >
          </div>
          <div class="speech-to-text-component-checkbox">
            <input autocomplete="off" type="checkbox" name="speech-to-text" [(ngModel)]="isMicrosoftEnabled" id="chkMicrosoft" /><label
              for="chkMicrosoft"
              >Microsoft</label
            >
          </div>
          <div class="speech-to-text-component-checkbox">
            <input autocomplete="off" type="checkbox" name="speech-to-text" [(ngModel)]="isDeepgramEnabled" id="chkDeepgram" /><label
              for="chkDeepgram"
              >Deepgram</label
            >
          </div>
        </fieldset>
        <div>
          <input
            autocomplete="off"
            type="checkbox"
            name="speech-to-text-profanity"
            [(ngModel)]="options.isAllowProfanity"
            id="chkProfanity"
          /><label for="chkProfanity">Autoriser les gros mots</label>
        </div>
        <div *ngIf="prefilledTexts.length > 0" class="speech-to-text-component-select">
          <label for="sPrefilledText">Sélectionner un texte pré-rempli</label>
          <select id="sPrefilledText" (change)="onPrefilledTextChange($event.target.value)">
            <option *ngFor="let prefilledText of prefilledTexts" [value]="prefilledText.id">{{ prefilledText.title }}</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col speech-to-text-component-picture">
      <img *ngIf="selectedPrefilledText?.picture" alt="" [src]="'../../../assets/pictures/' + selectedPrefilledText.picture" />
    </div>
  </div>
  <div class="row m-5">
    <textarea rows="5" [(ngModel)]="textToSpeech"></textarea>
  </div>
  <div class="row w-50 m-auto">
    <button class="btn btn-primary" (click)="onStartRecognitionClick($event)" *ngIf="!isRecording">Démarrer</button>
    <button class="btn btn-secondary" (click)="onStopRecognitionClick($event)" *ngIf="isRecording">Arrêter</button>
  </div>
  <div class="row mt-5">
    <div class="col-sm-12 col-md-6 col-lg" *ngIf="isMozillaEnabled">
      <app-speech-to-text-mozilla [textToSpeech]="textToSpeech"></app-speech-to-text-mozilla>
    </div>
    <div class="col-sm-12 col-md-6 col-lg" *ngIf="isGoogleEnabled">
      <app-speech-to-text-google [textToSpeech]="textToSpeech"></app-speech-to-text-google>
    </div>
    <div class="col-sm-12 col-md-6 col-lg" *ngIf="isMicrosoftEnabled">
      <app-speech-to-text-microsoft [textToSpeech]="textToSpeech"></app-speech-to-text-microsoft>
    </div>
    <div class="col-sm-12 col-md-6 col-lg" *ngIf="isDeepgramEnabled">
      <app-speech-to-text-deepgram [textToSpeech]="textToSpeech"></app-speech-to-text-deepgram>
    </div>
  </div>
</div>
