.speech-to-text-component {
  h2 {
    text-align: left;
  }

  i {
    font-size: 18px;
    margin-left: 10px;
  }

  &-checkbox {
    margin-right: 15px;
    display: inline-flex;
    align-items: baseline;
    label {
      margin-left: 5px;
    }
  }

  &-select {
    select {
      margin-left: 5px;
    }
  }

  &-options {
    &-group {
      label {
        margin-left: 5px;
      }
    }
  }
}
